.cellnumber{
color:red;
padding:0;
margin:0;
border:0;
position:absolute;
top:1px;
left:1px;
}

.letterclass {
background-color: green;
text-align: center;
vertical-align : MIDDLE;
height: 25pt;
width: 20pt;
}

.tableclass {
  background-color: white;
}

.tdwhiteclass {
  background-color: white;
  text-align: center;
  vertical-align : MIDDLE;
  height: 25pt;
  width: 20pt;
  border-top: 1pt black solid;
  border-right: 1pt Black solid;
  border-bottom: 1pt Black solid;
  border-left: 1pt Black solid;
}

.tdinnerclass {
  background-color: white;
  height: 25pt;
  width: 20pt;
  border-top: 1pt black solid;
  border-right: 1pt Black solid;
  border-bottom: 1pt Black solid;
  border-left: 1pt Black solid;
}

.tdblackclass {
  height: 25pt;
  width: 20pt;
  background-color: black;
}

.tdnumberclass {
  background-color: white;
  font-size: 10pt;
  margin-top : 1pt;
  margin-left : 1pt;
}

.tdselectedclass {
  height: 25pt;
  width: 20pt;
  text-align: center;
  vertical-align : MIDDLE;
  background-color: red;
  border-top: 1pt black solid;
  border-right: 1pt Black solid;
  border-bottom: 1pt Black solid;
  border-left: 1pt Black solid;
}

.tdwordselectedclass {
  height: 25pt;
  width: 20pt;
  text-align: center;
  vertical-align : MIDDLE;
  background-color: #99FFFF;
  border-top: 1pt black solid;
  border-right: 1pt Black solid;
  border-bottom: 1pt Black solid;
  border-left: 1pt Black solid;
}

.chatbox {
height:4em;
width:100%;
border:1px solid;
padding:2px;
margin-top:5px;
overflow:auto;
}

.clues:hover {text-decoration:none; background-color:#80FFFF;}
.cluesSelected {text-decoration:none; background-color:#c0c0c0;}
.cluesCleared {text-decoration:none;}
